<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>

<body>
    <%- include('../partials/header.ejs'); -%>
        </header>
        <main>
            <div class="background">
                <div class="subtitulo-productos">
                    <h1>ACTIVÁ TU CUENTA</h1>

                    <div class="conteiner">
                        <div class="screen">
                            <div class="screen-body">
                                <div class="screen-body-item left">
                                    <h2>REGISTRO</h2>
                                    <div class="errores-container">
                                    <div class="errores">
                                        <ul></ul>
                                    </div>
                                    </div>
                                    <form class="reservation" id="screen-body-item" action="/users/registro" method="POST" enctype="multipart/form-data">
                                        <div class="app-form">
                                            <div class="app-form-group">
                                                <input type="text" class="app-form-control" name="firstName" id="firstName" placeholder="NOMBRE" value="<%= locals.oldData ? oldData.firstName : null%>" />
                                            </div>
                                            <div class="errores">
                                                <% if (locals.errors && errors.firstName) { %>
                                                    <%= errors.firstName.msg %>
                                                        <% } %>
                                            </div>

                                            <div class="app-form">
                                                <div class="app-form-group">
                                                    <input type="text" class="app-form-control" id="lastName" name="lastName" placeholder="APELLIDO" value="<%= locals.oldData ? oldData.lastName : null%>" />
                                                </div>
                                                <div class="errores">
                                                    <% if (locals.errors && errors.lastName) { %>
                                                        <%= errors.lastName.msg %>
                                                            <% } %>
                                                </div>
                                                <div class="app-form-group">
                                                    <input type="text" class="app-form-control" id="email" name="email" placeholder="EMAIL" value="<%= locals.oldData ? oldData.email : null%>" />
                                                </div>
                                                <div class="errores">
                                                    <% if (locals.errors && errors.email) { %>
                                                        <%= errors.email.msg %>
                                                            <% } %>
                                                </div>
                                                <div class="app-form-group">
                                                    <input type="password" class="app-form-control" id="password" name="password" placeholder="CONTRASEÑA" />
                                                </div>
                                                <div class="errores">
                                                    <% if (locals.errors && errors.password) { %>
                                                        <%= errors.password.msg %>
                                                            <% } %>
                                                </div>
                                                <div class="app-form-group">
                                                    <input type="text" class="app-form-control" id="phone" name="phone" placeholder="TELÉFONO" value="<%= locals.oldData ? oldData.phone : null%>" />
                                                </div>
                                                <div class="errores">
                                                    <% if (locals.errors && errors.phone) { %>
                                                        <%= errors.phone.msg %>
                                                            <% } %>
                                                </div>

                                                <div class="app-form-group">
                                                    <label for="">IMAGEN PERFIL</label>
                                                    <input type="file" class="app-form-control" id="image" name="image" id="image" placeholder="IMAGEN PERFIL" value="<%= locals.oldData ? oldData.image : null%>" />
                                                </div>
                                                <div class="errores">
                                                    <% if (locals.errors && errors.image) { %>
                                                        <%= errors.image.msg %>
                                                            <% } %>
                                                </div>

                                            </div>
                                            <div class="app-form-group buttons">
                                                
                                                <div class="app-form-agree">
                                                    <input type="checkbox" value="on" name="agree" id="agree">
                                                        <label for="a ">Acepto los</label>
                                                            <a href="../terminos-condiciones ">Terminos y Condiciones</a>
                                                </div>
                                            
                                            <input class="app-form-button">
                                                <button input type="submit " class="app-form-button ">CREAR CUENTA</button>
                                        </div>
                                        <br>
                                                                    
                                </form>
                                </div>
                                </div>
                                <script src="/js/loginValidation.js "></script>
                                <script src="https://kit.fontawesome.com/2c36e9b7b1.js " crossorigin="anonymous "></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
 </main>
        <footer>
            <%- include('../partials/footer.ejs'); -%>
        </footer>
        <script src="/js/registerValidation.js "></script>
        <script src="https://kit.fontawesome.com/2c36e9b7b1.js " crossorigin="anonymous "></script>
</body>

</html>