<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/crud-copy.css">
    <link rel="stylesheet" href="/css/product-panelcrud.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Panel Producto</title>
</head>

<body>
    <%- include('../partials/header.ejs'); -%>
        </header>
        <div class="subtitulo-productos">
            <h1>Edicion de Usuarios</h1>
        </div>
        <div class="contenedor-login">
            <div class="contenido-login3">
                <div class="titulo-login">
                    <h2></h2>
                    <br>
                    <div class="imagen-perfil">
                        <img src="/images/users/<%= userAEditar.image %>" width="330px">
                    </div>
                    <br>
                </div>
                <form action="/users/useredit/<%= userAEditar.id %>?_method=PUT" method="POST" class="form-login" enctype="multipart/form-data">                   
                    <div class="etiquetas-form">
                        <label for="name">Nombre:</label>
                        <input type="type"  class="campos-form" name="firstName" value ="<%= userAEditar.firstName %>"/>
                    </div>
                    <br>
                    <div class="etiquetas-form">
                        <label class="campos-form-label">Apellido:</label>
                        <input type="type"  name= "lastName" class="campos-form" value ="<%= userAEditar.lastName %>">
                        </div>
                        <br>
                        <div class="etiquetas-form ">
                            <label for="item1">Mail :</label>
                            <input type="type"  class="campos-form " name="email" value ="<%= userAEditar.email %>"/>
                        </div>
                        <br>
                        <div class="etiquetas-form ">
                            <label for="item1">Teléfono :</label>
                            <input type="number"  class="campos-form " name="phone" value ="<%= userAEditar.phone %>"/>
                        </div>
                        <br>
                        <div class="etiquetas-form ">
                            <label for="item1">Password :</label>
                            <input type="type"  class="campos-form " name="password" value ="<%= userAEditar.password %>"/>
                        </div>
                        <br>
                        <div class="etiquetas-form ">
                            <label for="imagen">Imagen:</label>
                            <input type="file"  class="campos-form" name="image" value ="<%= userAEditar.image %>"/>
                        </div>
                        <br>
                    
                        <div class="contenedor-btn ">
                            <input type="submit" class="boton-estilo" value="Aceptar">
                        </div>
                    </form>
                </div>
            </div>
        </div>


        </form>
        </main>
        <footer>
            <%- include('../partials/footer.ejs'); -%>
        </footer>
</body>

</html>