<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">

    <link rel="stylesheet" href="/css/product-panelcrud.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Panel Producto</title>
</head>

<body>
    <%- include('../partials/header.ejs'); -%>
        </header>
        <div class="subtitulo-productos">
            <h1>Listado de Usuarios</h1>
        </div>
        <br>
        <br>

        <div class="user-list">
            <ul class="contenedor-user-list">
                <% for (let i=0; i< users.length; i++){ %>
                    <li class="contenedor-user-edit">
                        <div class="username">
                            <%=users[i].firstName +" "+ users[i].lastName  %>
                        </div>
                        <div class="checkbox">
                            <a href="../users/useredit/<%= users[i].id %>"> <i class="fas fa-edit"></i></a>
                        </div>
                        <div class="btn-borrar">
                            <form action="../users/userdelete/<%= users[i].id %>?_method=DELETE" method="POST">
                                <input type="submit" value="borrar"></form>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>

        </main>
        <footer>
            <%- include('../partials/footer.ejs'); -%>
        </footer>
</body>

</html>