<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/crud.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Crear Producto</title>
</head>

<body>
    <%- include('../partials/header.ejs'); -%>
        </header>
        <main>
            <div class="subtitulo-productos">
                <h1>PANEL GESTION</h1>
            </div>
            
            <div class="background">
                <div class="conteiner">
                    <div class="screen">
                        <div class="screen-body">
                            <div class="screen-body-item left">      
                                    <h2>PRODUCTO</h2>
                                <div class="errores">
                                    <ul></ul>
                                </div>
                                <form class="reservation" id="screen-body-item" action="/products/crear" method="POST" enctype="multipart/form-data"> 
                                    <div class="app-form">
                                        <div class="app-form-group">
                                            <input type="text" class="app-form-control" name="name" id="name" placeholder="TITULO"  />
                                        </div>
                                        <div class="errores">
                                        <% if (locals.errors && errors.name) { %>
                                            <%= errors.name.msg %>
                                                <% } %>
                                            </div>
                                                    
                                                    
                                                        <div class="app-form-group">
                                                            <input type="text" class="app-form-control" id="description" name="description" placeholder="DESCRIPCION" />
                                                        </div>
                                                        <div class="errores">
                                                        <% if (locals.errors && errors.description) { %>
                                                            <%= errors.description.msg %>
                                                                <% } %>
                                                            </div>
                                                            <div class="app-form-items">
                                                            <div class="app-form-items1">
                                                            <div class="app-form-group-items">
                                                                <input type="text" class="app-form-control" id="item1" name="item1" placeholder="ITEM1" />
                                                            </div>
                                                            <div class="errores">
                                                            <% if (locals.errors && errors.item1) { %>
                                                                <%= errors.item1.msg %>
                                                                    <% } %>
                                                                </div>
                                                                <div class="app-form-group-items">
                                                                    <input type="text" class="app-form-control" id="item2" name="item2" placeholder="ITEM2" />
                                                                </div>
                                                                <div class="errores">
                                                                <% if (locals.errors && errors.item2) { %>
                                                                    <%= errors.item2.msg %>
                                                                        <% } %>
                                                                    </div>
                                                                    <div class="app-form-group-items">
                                                                        <input type="text" class="app-form-control" id="item3" name="item3" placeholder="ITEM3" />
                                                                    </div>
                                                                    <div class="errores">
                                                                    <% if (locals.errors && errors.item3) { %>
                                                                        <%= errors.item3.msg %>
                                                                            <% } %>
                                                                        </div>
                                                                            <div class="app-form-group-items">
                                                                                <input type="text" class="app-form-control" id="item4" name="item4" placeholder="ITEM4" />
                                                                            </div>
                                                                            <div class="errores">
                                                                        <% if (locals.errors && errors.item4) { %>
                                                                            <%= errors.item4.msg %>
                                                                                <% } %>
                                                                            </div>
                                                                        </div>   
                                                                        <div class="app-form-items2">
                                                                            <div class="app-form-group-items">
                                                                                <input type="text" class="app-form-control" id="item5" name="item5" placeholder="ITEM5" />
                                                                            </div>
                                                                            <div class="errores">
                                                                            <% if (locals.errors && errors.item5) { %>
                                                                                <%= errors.item5.msg %>
                                                                                    <% } %>
                                                                                </div> 
                                                                                <div class="app-form-group-items">
                                                                                    <input type="text" class="app-form-control" id="item6" name="item6" placeholder="ITEM6"/>
                                                                                </div>
                                                                                <div class="errores">
                                                                                <% if (locals.errors && errors.item6) { %>
                                                                                    <%= errors.item6.msg %>
                                                                                        <% } %>
                                                                                    </div>     
                                                                                    <div class="app-form-group-items">
                                                                                        <input type="text" class="app-form-control" id="item7" name="item7" placeholder="ITEM7" />
                                                                                    </div>
                                                                                    <div class="errores">
                                                                                    <% if (locals.errors && errors.item7) { %>
                                                                                        <%= errors.item7.msg %>
                                                                                            <% } %>
                                                                                        </div>    
                                                                                        <div class="app-form-group-items">
                                                                                            <input type="text" class="app-form-control" id="item8" name="item8" placeholder="ITEM8" />
                                                                                        </div>
                                                                                        <div class="errores">
                                                                                        <% if (locals.errors && errors.item8) { %>
                                                                                            <%= errors.item8.msg %>
                                                                                                <% } %>
                                                                                            </div> 
                                                                                        </div>   
                                                                                    </div>  
    
                                                                                        <div class="app-form-group">
                                                                                            
                                                                                                <select name="categoryId" class="app-form-control-category" id="categoria" placeholder=" SELECCIONA LA CATEGORIA">
                                                                                                <% for( let i = 0; i < categories.length; i++ ) { %>
                                                                                                <option value="<%= categories[i].id%>"><%= categories[i].name%></option>
                                                                                                <% } %>
                                                                                                </select> 
                                                                                            </div>
                                                                                                
                                                                                                    
                                                                                                
                                                                                                <div class="app-form-group">
                                                                                                    <input type="text" class="app-form-control" name="price" id="price" placeholder="PRECIO"  >
                                                                                                </div>
                                                                                                <div class="errores">
                                                                                                    <% if (locals.errors && errors.price) { %>
                                                                                                        <%= errors.price.msg %>
                                                                                                            <% } %>
                                                                                                        </div> 
                                                                                                                        
                                                                                                <div class="app-form-group">
                                                                                                    <label for=""> IMAGEN PRODUCTO</label>
                                                                                                    <input type="file" class="app-form-control" id="image" name="image" placeholder="IMAGEN PERFIL" />
                                                                                                </div>
                                                                                                <div class="errores">
                                                                                                <% if (locals.errors && errors.image) { %>
                                                                                                    <%= errors.image.msg %>
                                                                                                        <% } %>
                                                                                                    </div>
                                            
                                                                                                        <br>
                                                                                                            <div class="app-form-group buttons">
                                                                                                                <input class="app-form-button">
                                                                                                                <button input type="submit" class="app-form-button">ENVIAR</button>
                                                                                                            </div>
                                                                                                            
                                                            
                                </form>
                                
                                </div>
                                
        </main>
        <footer>
            <%- include('../partials/footer.ejs'); -%>
        </footer>
        <script src="/js/createValidation.js"></script>
        <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>

</html>