<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/productos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Productos</title>
</head>

<body>
    <%- include('../partials/header.ejs'); -%>
        </header>
        <main>
            <section>
                <div class="titulo-encabezado">
                    <h2> </h2>
                </div>
            </section>
            <section>
                <div class="contenedor-titulo-servicios">
                    <div class="titulo-servicios">
                        <h2>LLEVAMOS TU NEGOCIO AL PROXIMO NIVEL</h2>
                    </div>
                </div>
                <div class="subtitulo-productos">
                    <h1>ELEGI TU PLAN</h1>
                </div>

                <div class="contenedor-servicios">
                    <% for (let i = 0; i < products.length; i++) { %>
                        <div class="servicios">
                            <div class="titulo-del-servicio">
                                <h3><%= products[i].name%></h3>
                            </div>
                            <br>
                            <div class="precio-servicio">
                                <h2>AR$<%= products[i].price%>-</h2>
                            </div>
                            
                             <img class="imagen-servicio" src="../images/products/<%= products[i].image %>" width="200px">
                            
                            <div class="texto-servicios">
                            <br>
                                <ul class="listado-servicios">
                                    <li><i class="fas fa-check"></i>
                                        <%= products[i].item1 %>
                                    </li>
                                    <li><i class="fas fa-check"></i>
                                        <%= products[i].item2 %>
                                    </li>
                                    <li><i class="fas fa-check"></i>
                                        <%= products[i].item3 %>
                                    </li>
                                    <li><i class="fas fa-check"></i>
                                        <%= products[i].item4 %>
                                    </li>
                                    <li><i class="fas fa-check"></i>
                                        <%= products[i].item5 %>
                                    </li>
                                    <li><i class="fas fa-check"></i>
                                        <%= products[i].item6 %>
                                    </li>
                                    <li><i class="fas fa-check"></i>
                                        <%= products[i].item7 %>
                                    </li>
                                    <li><i class="fas fa-check"></i>
                                        <%= products[i].item8 %>
                                    </li>
                                </ul>
                                <br>
                                <div class="contenedor-btn">
                                    <button type="submit" class="boton-estilo"> AGREGAR AL CARRITO</button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                </div>
                </div>
                </div>
            </section>
        </main>
        <script src="/js/agregarCarrito.js"></script>
        <footer>
            <%- include('../partials/footer.ejs'); -%>
        </footer>
</body>